*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

nav{
    background-color: #ffffff;
}

main{
    background-color: #ff2f2f;
    padding:30px 100px 50px;
}

main h1, main h2, main p{
    color: rgb(255, 255, 255);
}

main ul{
    display:grid;
    list-style: none;
}

.parent{
    display:grid;
    grid-template-rows: 300px;
    grid-template-columns: 1fr 1fr 1fr; 
    gap:30px;
    justify-content:space-evenly;
    margin-top: 100px;
}

main p{
    margin-top: 30px;
}

.child{   
    background-color: #c20000c2;
    padding:10px;
}


.child:nth-child(1){
    grid-column:1/2;
    grid-row: 1/2;
}

.child:nth-child(2){
    grid-column:2/3;
    grid-row: 1/2;
}

.child:nth-child(3){
    grid-column:3/4;
    grid-row: 1/2;
}

img{
    display: block;
    margin-right: 0;
    margin-left: auto;
}

@media (max-width: 760px) {
    main{
        padding:20px 40px;
    }

    .parent{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .child{
        grid-column: auto;
        grid-row: auto;
    }
}

@media (max-width: 450px) {
    main{
        padding:15px 20px;
    }

    .parent{
        grid-template-columns: 1fr;
    }

    .child{
        grid-column: auto;
        grid-row: auto;
    }
}